* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

#linkLogo {
  flex: 2;
}

#logo {
  width: 340px;
  padding: 10px;
}

.navBar {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
}

.navBarLink {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration-line: underline;
  color: lightslategrey;
}

main {
  width: 75%;
}

.curriculumMainSection {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about {
  height: 40vh;
}

#experience {
  height: 100vh;
}
#education {
  padding: 50px 0 50px 0;
}

footer {
  border-top: 1px solid lightgray;
  margin-top: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  .navBarLink {
    text-decoration: none;
    color: black;
  }

  nav a:hover {
    text-decoration-line: underline;
    color: lightslategrey;
  }

  main {
    width: 90%;
  }

  #about {
    height: 60vh;
  }
  #experience {
    height: auto;
  }
}
