#Accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainHome {
  width: 75%;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainSection p {
  font-size: 20px;
}

.mainSection a {
  padding: 30px;
  background-color: coral;
  width: fit-content;
  border-radius: 25px;
  color: black;
  text-decoration: none;
}

.mainSection a:hover {
  color: blueviolet;
  text-decoration: underline;
}

.mainH3{
  font-size: 25px;
}

@media screen and (max-width: 600px) {


  #mainHome {
    width: 90%;
  }

  .mainSection {
    margin: 20px 0 20px 0;
  }
}
