.projectMain{
  display: flex;
  justify-content: center;
}

.projectSection {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-around;

}

@media screen and (max-width: 600px) {
.projectMain{
  margin-top: 20px;
}
}